#Choose{
        background: rgba(0,0,0, 0.5);
        font-size: 20px;
        position:fixed;
        height: 8%;
        width: 100%;
        top:-2%;
        left:0%;
        font-weight:bold;
        color: white;
        }

#Contents{
        position:fixed;
        background: rgba(0,0,0,0.5);
        width:98%;
        height:98%;
        top:8%;
        left:1%;
        transition: all 0.7s ease;
        border-radius: 3px;
        }

#navi{
        position:fixed;
        top:1%;
        right: 1%
}
.navig{
        }
.navig:hover{
        background: rgba(255,255,225,0.5);
        padding:0.05em;
        border-radius:2px;
        transition: all 0.7s ease;
        }
#title {
        position:fixed;
        top:1%;
        left: 2%;
}
