<web-app>
    <servlet>
        <servlet-name>Servlets</servlet-name>
        <servlet-class>hibernateactivity.app.Servlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlets</servlet-name>
        <url-pattern>/Servlets</url-pattern>
    </servlet-mapping>
   
    <servlet>
        <servlet-name>ServletsAdd</servlet-name>
        <servlet-class>hibernateactivity.app.ServletsAdd</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>ServletsAdd</servlet-name>
        <url-pattern>/ServletsAdd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletsEdit</servlet-name>
        <servlet-class>hibernateactivity.app.ServletsEdit</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>ServletsEdit</servlet-name>
        <url-pattern>/ServletsEdit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletsDelete</servlet-name>
        <servlet-class>hibernateactivity.app.ServletsDelete</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>ServletsDelete</servlet-name>
        <url-pattern>/ServletsDelete</url-pattern>
    </servlet-mapping>

</web-app>
