<web-app>
    <servlet>
        <servlet-name>Servlets</servlet-name>
        <servlet-class>hibernateactivity.app.Servlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlets</servlet-name>
        <url-pattern>/Servlets</url-pattern>
    </servlet-mapping>
</web-app>
